<h2>{{title}}</h2>


<div class="col-md-6 admin-actions">
    <p><a [routerLink]="['new']" class="btn btn-primary">Add new</a></p>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>

<div class="col-md-9 panel">
    <div class="panel panel-default">
        <div class="panel-heading">Veterinarians</div>
        <p *ngIf="errorMessage">
            {{errorMessage}}
        </p>

        <table class="table">
            <thead>
            <tr>
                <th><strong>Name</strong></th>
                <th><strong>Speciality</strong></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let vet of veterinaries">
                <td>{{ vet.firstName }}&nbsp;{{ vet.lastName }}</td>
                <td>{{ vet.speciality }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
