<h3>{{title}}</h3>

<div class="col-md-6 panel">
    <button (click)="add()" class="btn btn-primary">Add New Vet</button>
    <div *ngIf="addingVet">
        <vet-form (close)="close($event)"></vet-form>
    </div>
</div>

<div class="col-md-9 panel">
    <div class="panel panel-default">
        <div class="panel-heading">Veterinarians</div>
        <p *ngIf="errorMessage">
            {{errorMessage}}
        </p>

        <table class="table">
            <thead>
                <tr>
                    <th><strong>Name</strong></th>
                    <th><strong>Speciality</strong></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let vet of veterinaries">
                    <td>{{ vet.firstName }}&nbsp;{{ vet.lastName }}</td>
                    <td>{{ vet.speciality }}<span>&nbsp;</span>
                        <button (click)="delete(vet); $event.stopPropagation()" class="btn btn-danger pull-right">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
