<div class="col-md-6">
    <div class="admin-actions">
        <p><a [routerLink]="['/Vet/CreateVet']" class="btn btn-primary"> Create new </a></p>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Veterinarians</div>

        <table class="table">
            <thead>
            <tr>
                <th><strong>Name</strong></th>
                <th><strong>Speciality</strong></th>
            </tr>
            </thead>
            <tbody>

            <tr *ngFor="#vet of veterinaries">
                <td>{{vet.firstName}}</td>
                <td>{{vet.lastName}}</td>
            </tr>

            </tbody>
        </table>
    </div>
</div>